<head>
    <title>TheWestonFiles</title>
    <link rel="stylesheet" href="main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div v-if="!mobile()">
    <articleExtra><p align="center">This article's claims may be disputed<br/> please check with other sources</p></articleExtra>
    <top><em>TheWestonFiles</em></top><br/>
    <topSub>The <b>Wikipedia</b> for <em>Nerds</em></topSub>
    <br/>
    <main>
        <h1>
            Websites banned due to Weston 
        </h1>
        <box>
            <p class="boxInfo">
                <b>Extra Information</b><br/>   
            </p>
            <!--Always include the &nbsp; in the start the rest aren't required-->
            <p><a>&nbsp;MyEmulator</a><span>&emsp;&emsp;&nbsp;Emulator</span></p>
            <p>&nbsp;<a>Gitpod</a><span>&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;Coding</span></p>
            <p>&nbsp;<a>Local host</a><span>&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;Coding</span></p>
        </box>
        <p>
        Multiple websites have been banned prodominantly due to use by Weston. These websites are not closely 
        related however and the reason for the banning of these webistes is still unclear. Wesbites that have 
        been banned include, MyEmulator, Gitpod, and Localhost. <a href="https://en.wikipedia.org/wiki/Localhost">Localhost</a> was the most recent ban happening at 
        12:00 am EST on May 25, 2023. <a href="https://5173-classicmcst-thewordofwe-z75coxv8eqs.ws-us98.gitpod.io/">[1]</a>
        </p>
        <h1 class="fix">
            MyEmulator
        </h1>
        <p>
        MyEmulator, being banned on November 6, 2022, was a emulation website contaning atari, nintendo, and ps1 games. The current ban message is
        "mature.games" <a href="myemulator.online">[2]</a> MyEmulator known to be used regularly by, 3 members of the secondary school. MyEmulator
        was banned on the morning of November 6, 2022 after being heavily used by a group of people during a marching band overnight. MyEmulator was
        the first major ban affecting or caused by Weston.
        </p>
        <h1>
            Gitpod
        </h1>
        <p>
        Banned shortly after MyEmulator, Gitpod was banned on the 10th of November, 2022. Gitpod is a online coding website which uses the 
        base <a href="https://en.wikipedia.org/wiki/Visual_Studio_Code">vscode</a> system but including access to a basic terminal, localhost capabilitys, and full extension support. Gitpod was banned in
        the early morning and first noticed by Weston in the start of the first block. <a href="#mail">[3]</a> At the time of the ban Gitpod is believed
        to be only known by Weston as no other person in the secondary school knew about or used it. Weston got in contact with the school support
        system early in the morning of November 10th at 10:42 AM EST. The filtered email is shown below only removing place and people's names.
        </p>
        <p id="mail">
            Hello [.......] support center,<br/>
            I am today inquiring on the reason for blocking the website gitpod.io. This website is a great tool to learn how to code and is safe in terms of viruses and inappropriate imagery. It would benefit me and many other students if the website gitpod.io would be available for coding. Some uses of gitpod.io include, a GCC compiler for running C and C++ code, access to a base level terminal with no root computer access, a basic localhost ability for loading react and svelte projects, committing projects to github using the Git commit function, and running python projects in a virtual terminal. To conclude, the continued access to the coding website gitpod.io would be beneficial to myself and other students.
        <br/>Sincerely, [.......] of [........] Secondary School
        </p>
        <p>
        After discussing with the schools support center and eventually with the state Weston was able to get Gitpod unblocked. Until the writing 
        of this article, gitpod is still live and accessable from all school <a href="https://en.wikipedia.org/wiki/Chromebook">chromebooks</a>. 
        </p>
        <h1>
            Localhost
        </h1>
        <p>
        Localhost was banned at 12:00 AM EST on May 25, 2023. Localhost, only accessable from gitpod and <a href="https://en.wikipedia.org/wiki/GitHub">github</a> codespaces, was most likely only
        used by Weston although there is a possibility that 1 more student in the secondary school knows and uses it regularly. The reason for 
        Localhost's ban is currently unknown and its ban message is "unknown" as stated from the ban website. A posibility for the ban may be that
        it could be possible to say or show inappropriate images or text through a localhost although this would be very unlikely due to the fact 
        that localhost is only used by people who know how to code and iframes can not interact with banned websites.  
        </p>
        <h1><src>Sources</src></h1>
        1.<a href="https://5173-classicmcst-thewordofwe-z75coxv8eqs.ws-us98.gitpod.io/">^</a> Snow, Weston (2023). <a href="https://5173-classicmcst-thewordofwe-z75coxv8eqs.ws-us98.gitpod.io/">https://5173-classicmcst-thewordofwe-z75coxv8eqs.ws-us98.gitpod.io/ <i class="fa fa-external-link" style="font-size:12px;"></i></a> Gitpod<br/>
        2.<a href="myemulator.online">^</a> (2022). <a href="myemulator.online">myemulator.online <i class="fa fa-external-link" style="font-size:12px;"></i></a> MyEmulator<br/>
        3.<a href="#mail">^</a> Snow, Weston (2022). <a href="#mail">gmail sent at 10:42AM <i class="fa fa-external-link" style="font-size:12px;"></i></a> Gmail
        <br/> <br/>
    </main>
</div>

<div v-if="mobile()">
    <p align="center">
      <top><em>TheWestonFiles</em></top><br/>
      <topSub>The <b>Wikipedia</b> for <em>Nerds</em></topSub>
    </p>
    <p align="center">This article's claims may be disputed<br/> please check with other sources</p><br/>

    <div class="mobile">
        <h1>
            Websites banned due to Weston 
        </h1>
        <p align="left">
            <mobileBox>
                <b>Extra Information</b><br/>
                <em>List of website uses</em><br/><br/>
                <mobileBoxText>
                    &nbsp;<a href="">MyEmulator:</a>Emulation<br/><br/>
                    &nbsp;<a href="">Gitpod:</a>Coding<br/><br/>
                    &nbsp;<a href="">Localhost:</a>Coding
                </mobileBoxText>
            </mobileBox>
        </p>
        <p>
        Multiple websites have been banned prodominantly due to use by Weston. These websites are not closely 
        related however and the reason for the banning of these webistes is still unclear. Wesbites that have 
        been banned include, MyEmulator, Gitpod, and Localhost. <a href="https://en.wikipedia.org/wiki/Localhost">Localhost</a> was the most recent ban happening at 
        12:00 am EST on May 25, 2023. <a href="https://5173-classicmcst-thewordofwe-z75coxv8eqs.ws-us98.gitpod.io/">[1]</a>
        </p>
        <h1 class="">
            MyEmulator
        </h1>
        <p>
        MyEmulator, being banned on November 6, 2022, was a emulation website contaning atari, nintendo, and ps1 games. The current ban message is
        "mature.games" <a href="myemulator.online">[2]</a> MyEmulator known to be used regularly by, 3 members of the secondary school. MyEmulator
        was banned on the morning of November 6, 2022 after being heavily used by a group of people during a marching band overnight. MyEmulator was
        the first major ban affecting or caused by Weston.
        </p>
        <h1>
            Gitpod
        </h1>
        <p>
        Banned shortly after MyEmulator, Gitpod was banned on the 10th of November, 2022. Gitpod is a online coding website which uses the 
        base <a href="https://en.wikipedia.org/wiki/Visual_Studio_Code">vscode</a> system but including access to a basic terminal, localhost capabilitys, and full extension support. Gitpod was banned in
        the early morning and first noticed by Weston in the start of the first block. <a href="#mail">[3]</a> At the time of the ban Gitpod is believed
        to be only known by Weston as no other person in the secondary school knew about or used it. Weston got in contact with the school support
        system early in the morning of November 10th at 10:42 AM EST. The filtered email is shown below only removing place and people's names.
        </p>
        <p id="mail">
            Hello [.......] support center,<br/>
            I am today inquiring on the reason for blocking the website gitpod.io. This website is a great tool to learn how to code and is safe in terms of viruses and inappropriate imagery. It would benefit me and many other students if the website gitpod.io would be available for coding. Some uses of gitpod.io include, a GCC compiler for running C and C++ code, access to a base level terminal with no root computer access, a basic localhost ability for loading react and svelte projects, committing projects to github using the Git commit function, and running python projects in a virtual terminal. To conclude, the continued access to the coding website gitpod.io would be beneficial to myself and other students.
        <br/>Sincerely, [.......] of [........] Secondary School
        </p>
        <p>
        After discussing with the schools support center and eventually with the state Weston was able to get Gitpod unblocked. Until the writing 
        of this article, gitpod is still live and accessable from all school <a href="https://en.wikipedia.org/wiki/Chromebook">chromebooks</a>. 
        </p>
        <h1>
            Localhost
        </h1>
        <p>
        Localhost was banned at 12:00 AM EST on May 25, 2023. Localhost, only accessable from gitpod and <a href="https://en.wikipedia.org/wiki/GitHub">github</a> codespaces, was most likely only
        used by Weston although there is a possibility that 1 more student in the secondary school knows and uses it regularly. The reason for 
        Localhost's ban is currently unknown and its ban message is "unknown" as stated from the ban website. A posibility for the ban may be that
        it could be possible to say or show inappropriate images or text through a localhost although this would be very unlikely due to the fact 
        that localhost is only used by people who know how to code and iframes can not interact with banned websites.  
        </p>
        <h1><src>Sources</src></h1>
        1.<a href="https://5173-classicmcst-thewordofwe-z75coxv8eqs.ws-us98.gitpod.io/">^</a> Snow, Weston (2023). <a href="https://5173-classicmcst-thewordofwe-z75coxv8eqs.ws-us98.gitpod.io/">https://5173-classicmcst-thewordofwe-z75coxv8eqs.ws-us98.gitpod.io/ <i class="fa fa-external-link" style="font-size:12px;"></i></a> Gitpod<br/>
        2.<a href="myemulator.online">^</a> (2022). <a href="myemulator.online">myemulator.online <i class="fa fa-external-link" style="font-size:12px;"></i></a> MyEmulator<br/>
        3.<a href="#mail">^</a> Snow, Weston (2022). <a href="#mail">gmail sent at 10:42AM <i class="fa fa-external-link" style="font-size:12px;"></i></a> Gmail
        <br/> <br/>
    </div>
</div>
<script src="https://classicmc-studios.github.io/twf.js" type="module"></script>